TG_ANALYTICS_ENABLED=true
TG_ANALYTICS_TOKEN=
TG_ANALYTICS_APP_NAME=ursass_tube

VITE_TG_ANALYTICS_ENABLED=true
VITE_TG_ANALYTICS_TOKEN=
VITE_TG_ANALYTICS_APP_NAME=ursass_tube
TELEGRAM_MINI_APP_URL=https://ursasstube.fun
FRONTEND_BASE_URL=https://ursasstube.fun
